{% extends 'home/base.html' %}
{% load static %}

{% block title %} Who We Are {% endblock title %}
{% block content %}

<div class="container">
    <div class="page-content about-page">
        <div class="page-title top_90">
            <h1 class="title">About Us</h1>
            <div class="zigzag">
                <svg viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg">
                 <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                    29.781,2.879 39.223,12.321 48.754,2.79  58.286,12.321"/>
                </svg>
            </div>
        </div>
        <!-- About text -->
        <div class="col-lg-8 offset-lg-2 text-center padding_30">
            <p class="about-text">We develop quality, professional and scalable 
Web and  Mobile applicaltions. <br>
We are passionate about quality code, best practices, security.</p>
            
            <!-- services -->
            <div class="row services padding_90">
                <div class="col-md-3 col-sm-6 service text-center">
                    <i class="icon-desktop"></i>
                    <h3 class="title top_15">Web Development</h3>
                    <p>Her extensive perceived may any sincerity extremity.</p> 
                </div>
                <div class="col-md-3 col-sm-6 service text-center">
                    <i class="icon-tools"></i>
                    <h3 class="title top_15">Branding Identity</h3>
                    <p>Her extensive perceived may any sincerity extremity.</p> 
                </div>
                <div class="col-md-3 col-sm-6 service text-center">
                    <i class="icon-paintbrush"></i>
                    <h3 class="title top_15">Graphic Design</h3>
                    <p>Her extensive perceived may any sincerity extremity.</p> 
                </div>
                <div class="col-md-3 col-sm-6 service text-center">
                    <i class="icon-lightbulb"></i>
                    <h3 class="title top_15">Brainstorming</h3>
                    <p>Her extensive perceived may any sincerity extremity.</p> 
                </div>
            </div>
            
            
            <!-- <div class="teammates row bottom_90 top_45">
                <div class="col-md-4 team">
                    <img src="img/team-1.jpg" alt="">
                    <span class="name">Nicky Byers</span>
                </div>
                <div class="col-md-4 team">
                    <img src="img/team-2.jpg" alt="">
                    <span class="name">Arthur J. Dawson</span>
                </div>
                <div class="col-md-4 team">
                    <img src="img/team-3.jpg" alt="">
                    <span class="name">Rosa Dole</span>
                </div>
            </div> -->
            
            
        </div>
        
        
        
        <!-- testimonials -->
        <!-- <div class="col-lg-4 offset-lg-4 text-center">
            <div class="owl-carousel owl-theme testimonials" data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1">
                <div class="item">
                   <p>"The very best. I just can't get enough of dark me. I want to get a T-Shirt with dark me on it so I can show it off to everyone. It's the perfect solution for our business."</p>
                    <span>Evonne L.</span>
                </div>
                <div class="item">
                   <p>"Very easy to use. Very easy to use. Not able to tell you how happy I am with tavonline."</p>
                    <span>- Vittoria B.</span>
                </div>
                <div class="item">
                   <p>"After using tavonline my business skyrocketed! This is simply unbelievable! We're loving it."</p>
                    <span>Ahmed T.</span>
                </div>
            </div>
        </div> -->
        
        <!-- Social Links -->
        <div class="col-lg-4 offset-lg-4 top_90 bottom_60">
            <ul class="list-style row text-center">
                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">TWITTER<span>amokachidan</span></a></li>
                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">INSTAGRAM<span>daniel.85</span></a></li>
                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">DRIBBBLE<span>daniel.85</span></a></li>
            </ul>
        </div>
    </div>
    
</div>
    
</div><!-- wrapper end -->


{% endblock content %}