{% extends 'home/base.html' %}
{% load static %}

{% block title %} Start A Project  {% endblock title %}

{% block content %}

<div class="container">
    <div class="page-content about-page">
        <div class="page-title top_90">
            <h1 class="title">Start A Project </h1>
            <div class="zigzag">
                <svg viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg">
                 <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                    29.781,2.879 39.223,12.321 48.754,2.79  58.286,12.321"/>
                </svg>
            </div>
        </div>
    </div>
    <!-- Contact -->
    <div class="col-lg-6 offset-lg-3">
        <!-- Send a message -->
        <div class="form top_60 bottom_120 text-center">
            <h2 class="form-title bottom_60">Send a Message</h2>
            <form class="contact-form top_30" method="POST">
                {% csrf_token %}
                <div class="row">
                    <!--Name-->
                    <div class="col-md-6">
                        
                        {{form.name}}
                    </div>
                    <!--Email-->
                    <div class="col-md-6">
                      
                        {{form.email}}
                    </div>
                    <div class="col-md-12">
                        <!--Message-->
                        {{form.msg}}
                        
                        <button id="con_submit" class="form-btn" type="submit">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Social Links -->
    <div class="col-lg-6 offset-lg-3 top_90 bottom_60">
        <ul class="list-style row text-center">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">EMAIL<span>hello@scriptdeskng.com</span></a></li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">ADDRESS<span>No 6, Lara Ademola Street, Lekki, Lagos State</span></a></li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">PHONE<span>+234 7042411717</span></a></li>
        </ul>
    </div>
    
</div>
    
</div>
{% endblock content %}