{% extends 'home/base.html' %}
{% load static %}

{% block title %} We will get in touch  {% endblock title %}

{% block content %}

<div class="container">
    <div class="page-content about-page">
        <div class="page-title top_90">
            <h1 class="title">We will get in touch  </h1>
            <div class="zigzag">
                <svg viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg">
                 <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                    29.781,2.879 39.223,12.321 48.754,2.79  58.286,12.321"/>
                </svg>
            </div>
        </div>
    </div>
    

            <!-- About text -->
            <div class="col-lg-8 offset-lg-2 text-center padding_30">
                <p class="about-text">We have received your email. Our respresentative will be intouch </p>

            </div>

    <!-- Social Links -->
    <div class="col-lg-6 offset-lg-3 top_90 bottom_60">
        <ul class="list-style row text-center">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">EMAIL<span>contact@amokachid.com</span></a></li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">ADDRESS<span>1444 S. Alameda Street Los Angeles, California 90021</span></a></li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">PHONE<span>+1954 655 20 25 </span></a></li>
        </ul>
    </div>
    
</div>
    
</div>
{% endblock content %}